﻿@page "/AdminEstatusPersonal"
<h3>Catalogo de Estatus de Personal</h3>




<h4>Total de registros: @estatus.Count</h4>

<div class="row">
    <div class="col-2">Estado</div>
    <div class="col-4"><input type="text" @bind-value="@estado.Estatus" class="w-100" /></div>
    <div class="col-2"><button @onclick="@Insertar">Insertar estado</button> </div>
    <div class="col-2"><button @onclick="@Actualizar">Actualizar estado</button> </div>

</div>

@Error

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Estatus</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in estatus)
        {
            <tr>
                <td>@item.IdEstatus</td>
                <td>@item.Estatus</td>
                <td>
                    <button @onclick="()=>Editar(item)">Editar</button>
                    <button @onclick="()=>Eliminar(item)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<EstatusPersonal> estatus;
    string Error;
    EstatusPersonal estado;

    EstatusPersonalManager manager;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        manager = new EstatusPersonalManager("http://apicurso.somee.com", "EstatusPersonal");
        Error = "";
        estado = new EstatusPersonal();
        ActualizarTabla();
    }

    private void ActualizarTabla()
    {
        estatus = manager.ObtenerTodos;
    }


    private void Insertar()
    {
        if (manager.Insertar(estado) != null)
        {
            Error = "";
            ActualizarTabla();
            estado = new EstatusPersonal();
        }
        else
        {
            Error = manager.Error;
        }
    }

    private void Editar(EstatusPersonal item)
    {
        estado = item;
    }

    private void Actualizar()
    {
        if (manager.Actualizar(estado, estado.IdEstatus) != null)
        {
            Error = "";
            ActualizarTabla();
            estado = new EstatusPersonal();
        }
        else
        {
            Error = manager.Error;
        }
    }

    private void Eliminar(EstatusPersonal item)
    {
        if (manager.Eliminar(item.IdEstatus))
        {
            Error = "";
            ActualizarTabla();
            estado = new EstatusPersonal();
        }
        else
        {
            Error = manager.Error;
        }
    }

}
